body {
    background-color: navajowhite;
}

.header {
    color: black;
    font-size: 48px;
    font-weight: bold;
    font-family: "Brush Script MT", "Garamond", "Times New Roman" ;
}

.small-header {
    color: black;
    font-size: 24px;
    font-weight: bold;
    font-family: "Brush Script MT", "Garamond", "Times New Roman";
}

.ul-arroz,
.ul-fajitas,
.ul-chuleton,
.ul-atun,
.ol-arroz,
.ol-fajitas,
.ol-chuleton,
.ol-atun {
    color: black;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button-index,
.button-home {
    font-size: 18px;
    color: black;
    font-weight: normal;
    font-family: "Garamond", Verdana, sans-serif;
    padding: 2px 4px 2px 4px;
    background-color: crimson;
   
}

.img-index {
    height: auto;
    width: 400px;
    padding-top: 4px;
}

.dish-image {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}